/* styles.css */

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the homepage take the full height of the viewport */
}

.main-body {
  flex: 1; /* Take the remaining space in the viewport */
  display: flex;
}

/* Banner styles */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Align children at each end of the flex container */
  align-items: center; /* Center children vertically within the flex container */
}

.banner h1 {
  margin: 0;
}

.banner input {
  padding: 5px;
  margin-top: 10px;
  margin-right: 2%;
}


/* styles.css */

/* ... (previous styles) */

/* Menu styles */
.menu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  height: 100%;
  margin-top: 15%;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu li.active {
  background-color: #007bff;
  color: white;
}

/* ... (remaining styles) */

/* Question styles */
/* ... (previous styles) */

/* Question styles */
.questions-section {
  flex: 1; /* Take the remaining space in the main body */
  padding: 20px;
  margin-right: 20px; /* Use margin-right instead of margin-left */
  margin-top: 10%;
}

/* ... (remaining styles) */


.questions-section h2 {
  color: #007bff;
}

.questions-section button {
  background-color: #28a745;
  color: white;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.questions-list {
  /* Implement scroll bar if needed */
  max-height: 400px;
  overflow-y: auto;
}

.question {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
}

.question h2 {
  margin: 0;
  color: #343a40;
}

.question-info {
  display: flex;
  justify-content: space-between;
  color: #868e96;
}


