.btn {
  padding: 0.5rem;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border: 1px solid #000;
  display: block;
  font-family: inherit;
}

.delete-btn:hover,
.downvote-btn:hover {
  background-color: #f44336;
  border: none;
  color: white;
}

.upvote-btn:hover {
  background-color: #4caf50;
  border: none;
  color: white;
}

.edit-btn:hover {
  background-color: #2196f3;
  border: none;
  color: white;
}
