.feedback-container {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  border-bottom: 1px dotted #000;
}

.feedback-details {
  display: flex;
  margin-block: 2rem;
}

.feedback-text {
  margin-right: auto;
  width: 60%;
}

.user-details {
  align-self: flex-end;
}
.user-name {
  color: green;
}

.feedback-date {
  color: gray;
}
.user-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
