.search-ask-question {
  display: flex;
  justify-content: space-between;
  margin-block: 0.5rem;
}

.search-filters-questions {
  display: flex;
  margin-block: 0.5rem;
}

.search-filters {
  margin-left: auto;
  display: flex;
  gap: 0;
}

.search-res-text {
  margin-block: 0.5rem;
}

.nav-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.action-btn.btn-disabled,
.action-btn.btn-disabled:hover {
  background-color: #6ca0dc;
}
