.user-details-container .section {
  padding-block: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted #ccc;
}

li {
  list-style: none;
}

.profile-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.label {
  font-weight: 600;
}

.section h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.del-user-btn {
  background-color: #f44336;
  color: white;
  border: none;
  margin-top: 1rem;
}

.del-user-btn:hover {
  background-color: #d32f2f;
}
