header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-content {
  background-color: #ccc;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #000;
}

.logo-and-text {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 14px;
  margin-inline: auto;
  color: #000;
}

.logo-and-text:hover {
  color: #000;
}
